In [1]:
import pandas as pd
import scipy 
import numpy as np
from scipy import stats
import math
from scipy.stats import chi2_contingency
from scipy.stats import chi2

In [2]:
data=pd.read_csv('BuyerRatio (2).csv')
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [3]:
ls

 Volume in drive C is OS
 Volume Serial Number is 42A7-BDFB

 Directory of C:\Users\Narasimhulu E\Documents\Assingnments\Hypothesis Testing

02/17/2023  02:30 PM    <DIR>          .
02/08/2023  12:09 PM    <DIR>          ..
02/16/2023  07:47 PM    <DIR>          .ipynb_checkpoints
02/08/2023  12:15 PM                87 BuyerRatio (2).csv
02/08/2023  12:15 PM            13,423 Costomer+OrderForm (2).csv
02/08/2023  12:15 PM               525 Cutlets (1).csv
02/17/2023  02:30 PM             9,606 Hypothesis Testing (BuyerRatio.csv).ipynb
02/16/2023  03:10 PM               142 Hypothesis Testing (Cutlets).ipynb.url
02/16/2023  02:39 PM             8,148 Hypothesis Testing(Costomer+OrderForm).ipynb
02/16/2023  03:11 PM             6,179 Hypothesis testing(Cutlets).ipynb
02/16/2023  08:02 PM             9,300 Hypothesis Testing(LabTAT).ipynb
02/08/2023  12:15 PM            61,688 Hypothesis_Testing_Assignment (3).pptx
02/08/2023  12:15 PM             3,487 LabTAT.csv
              10 File(s)        112,585 bytes
               3 Dir(s)  136,378,273,792 bytes free

In [4]:
data1=data.drop(['Observed Values'],axis=1)

In [5]:
data1

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [6]:
males=data1.loc[0]

In [7]:
males

East      50
West     142
North    131
South     70
Name: 0, dtype: int64

In [8]:
females=data1.iloc[1]

In [9]:
females

East      435
West     1523
North    1356
South     750
Name: 1, dtype: int64

In [10]:
males=np.array(males)
females=np.array(females)

In [11]:
observed_values = np.array([males,females])
observed_values

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]], dtype=int64)

In [12]:
value = chi2_contingency(observed_values)
value

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [16]:
p_value = chi2_contingency(observed_values)[1]
p_value

0.6603094907091882

In [17]:
if p_value<1:
    print("H0 is rejected and there is no Male and female buyers are similar across in region")
else:
    print("H0 is accepted and Male and female buyers are similar across in region")

H0 is rejected and there is no Male and female buyers are similar across in region